@model Hospital_Project.Models.ViewModels.DetailsDepartment
@{
    ViewBag.Title = "Details";
}

<div class="heading-container">
    <h2>Details of Department</h2>
    @{
        if (User.IsInRole("Admin"))
        {
            <div class="heading-container">
                <h5 class="mr-sm"><a href="/Department/Update/@Model.SelectedDepartment.DepartmentID" class="btn btn-primary">Update</a></h5>
                <h5><a href="/Department/DeleteConfirmation/@Model.SelectedDepartment.DepartmentID" class="btn btn-danger">Delete</a></h5>
            </div>
        }
    }

</div>

<div>
    <h3>Department Name :<i> @Model.SelectedDepartment.DepartmentName</i></h3>
    <h3>Department Description :<i> @Model.SelectedDepartment.DepartmentDescription</i></h3>
</div>

<div class="padding-small">
    <h3>Doctors Associated with Department : </h3>
    <ul>


        @foreach (var doctor in Model.AssociatedDoctors)
        {
        <li class="list-style"><h3>  <a href="/DoctorDetail/Details/@doctor.DrId"> @doctor.DrFname @doctor.DrLname </a>  </h3></li>
        }
    </ul>
</div>

