
@{
    ViewBag.Title = "New";
}


    <h2>Create a New Department</h2>

    <form action="/Department/Create" method="POST">
        <div class="form-group">
            <label for="DepartmentName">Department Name</label>
            <input type="text" name="DepartmentName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="DepartmentDescription">Department Descriptiom</label>
            <input type="text" class="form-control" name="DepartmentDescription" />
        </div>

        <input type="submit" value="Add Department" class="btn btn-primary" />

    </form>


