body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navlink {
    float: left;
    margin-right: 2em;
    border: 1px solid black;
    background-color: blue;
    color: white;
    padding: 0.1em;
    margin-top: 1em;
}

.dellink {
    color: white;
    float: right;
    border: 1px red black;
    background-color: red;
    margin-top: 1em;
    padding: 3px;
}

/*detail information of questions and surveys container */
.detailInfo {
    margin-top: 5em;
}

#homepage-heading {
    margin-bottom: 1em;
    margin-top: 3em;
    margin-left: 8em;
    color: #BA1200;
}

.navbar-inverse {
    background-color: cornflowerblue;
}

.navbar-inverse .navbar-nav > li > a {
        color: white;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
    color: darkred;
}

