@{
    ViewBag.Title = "Home Page";
}
<h1 id="homepage-heading">Welcome to the AMGH hospital</h1>
<img src="~/Content/Images/homePage/homebannerrailway.jpg" alt="cover pic" width="1100" id="homepage-cover" />

<div class="row">
    <div class="col-md-4">
        <h2>Greeting Card</h2>
        <p>
            Let a friend or family member know you’re thinking of them during their hospital stay by sending a free, personalized Patient Greeting Card. All you have to do is fill out the form below,
            and your message will be printed and delivered by an AMGH volunteer.
        </p>
        <p><a class="btn btn-default" href="/GreetingCard/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Feedback</h2>
        <p>We are Listening The staff and physicians at Alexandra Marine and General Hospital work hard every day to provide you and your family with the same quality of care they would want for their own families.
        We welcome your compliments, concerns and advice, and encourage you to be actively involved in your care. We would love to hear what you have to say. Please enter your feedback in the below box and submit. </p>
        <p><a class="btn btn-default" href="/Feedback/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Careers at AMGH</h2>
        <p>
            Ready for a rewarding career at the unique intersection of tech and social good?
            Every day your work will make an impact that matters.
            You’ll thrive in a dynamic, inclusive, flexible, and ambitious culture,
            and build lifelong relationships within a powerful network.
        </p>
        <p><a class="btn btn-default" href="/Position/List">Learn more &raquo;</a></p>
    </div>
</div>