
@{
    ViewBag.Title = "New";
}

<h2>New User</h2>
<form action="/blog/Create" method="POST">
    <div>
        <label>Blog Title:</label><input name="Title" />
    </div>
    <div>
        <label>Blog Content:</label><input name="Content" />
    </div>
    <div>
        <input type="submit" value="ADD BLOG" />
    </div>
</form>

